
.idea/
*.iml
out/

target/


*.log
logs/


.DS_Store
Thumbs.db


.env
.env.*

**/application-local.yml
**/application-local.yaml
**/application-dev.yml
**/application-dev.yaml
**/application-prod.yml
**/application-prod.yaml


*.jks
*.keystore
*.pem
*.key


.vscode/


frontend/node_modules/
frontend/dist/


build/