# Environment files
.env
.env.*
!.env.example

# Spring local configuration
application-local.yaml
application-local.yml

# Java / Maven
target/
*.class

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
dist/

# Vite
.vite/